@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.notion.so/Projeto-de-Atendimento-Inteligente-via-WhatsApp-com-IA-e-API-de-Tickets-240bc770d78d8074915fcdee37e02236" target="_blank">Sobre</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
